<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact</title>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">
  
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:300,400%7COpen+Sans:400,400i,700%7CLibre+Baskerville:400i' rel='stylesheet'>

  <!-- Css -->
  <link rel="stylesheet" href="/templates/demo/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/templates/demo/css/font-icons.css" />
  <link rel="stylesheet" href="/templates/demo/css/sliders.css" />
  <link rel="stylesheet" href="/templates/demo/css/style.css" />
  <link rel="stylesheet" href="/templates/demo/css/responsive.css" />
  <link rel="stylesheet" href="/templates/demo/css/spacings.css" />
  <link rel="stylesheet" href="/templates/demo/css/animate.min.css" />

</head>

<body class="relative">

  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="main-wrapper oh">

    <header class="nav-type-1 dark-nav">

      <!-- Fullscreen search -->
      <div class="search-wrap">
        <div class="search-inner">
          <div class="search-cell">
            <form method="get">
              <div class="search-field-holder">
                <input type="search" class="form-control main-search-input" placeholder="Search for">
                <div class="search-submit-icon"><i class="icon icon_search"></i></div>
                <input type="submit" class="search-submit" value="search">
              </div>            
            </form>
          </div>
        </div>
        <i class="icon icon_close search-close" id="search-close"></i>
      </div> <!-- end fullscreen search -->
    
      <nav class="navbar navbar-fixed-top">
        <div class="navigation">
          <div class="container relative">

            <div class="row">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div> <!-- end navbar-header -->


              <!-- side menu -->
              <div class="side-menu nav-left hidden-sm hidden-xs">
                <div class="nav-inner">
                  <div class="nav-search-wrap hidden-sm hidden-xs">
                    <a href="#" class="nav-search search-trigger">
                      <i class="icon icon_search"></i>
                    </a>
                  </div>
                </div>
              </div> <!-- end side menu -->

              <div class="col-md-12 nav-wrap">
                <div class="collapse navbar-collapse text-center" id="navbar-collapse">
                  
                  <ul class="nav navbar-nav">

                    <li><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
                    <li><a href="blog-single.html">Blog Single</a></li>
					<li><a href="contact.html">Contact</a></li>

                    <li id="mobile-search" class="hidden-lg hidden-md">
                      <form method="get" class="mobile-search">
                        <input type="search" class="form-control" placeholder="Search...">
                        <button type="submit" class="search-button">
                          <i class="icon icon_search"></i>
                        </button>
                      </form>
                    </li>
        
                  </ul> <!-- end menu -->
                </div> <!-- end collapse -->
              </div> <!-- end col -->

              <!-- side menu -->
              <div class="side-menu right mobile-left-align">
                <div class="nav-inner menu-socials social-icons">
                  <div class="right">
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
              </div> <!-- end side menu -->
          
            </div> <!-- end row -->
          </div> <!-- end container -->
        </div> <!-- end navigation -->
      </nav> <!-- end navbar -->
    </header>

    <section class="header-wrap bg-light">
      <div class="container">
        <div class="logo-container text-center">
          <div class="logo-wrap">
            <a href="index.html">
              <img class="logo-dark" src="img/logo_dark_big.png" alt="logo">
            </a>
          </div>
        </div>
      </div>
    </section>

    <div class="content-wrapper oh">

      <!-- Content -->
      <section class="section-wrap contact pt-mdm-60">
        <div class="container relative">
          <div class="text-center">
            <h1 class="heading underline-title uppercase">Contact</h1>
          </div>
          <div class="row">            
            
            <div class="col-sm-10 col-sm-offset-1">
              <img src="img/contact.jpg" class="img-fw mb-30" alt="">
              <p>
                Sed at libero mauris. Nullam eget vehicula nulla. Aenean maximus risus ex, at efficitur massa molestie id. Integer sagittis neque ut mauris imperd biet imperdiet. Integer nisi diam, auctor at mi nec, feugiat tempus metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce commodo, velit non faucibus elementum, dolor risus convallis massa, venenatis luctus ante turpis id nisl.
              </p>

              <!-- contact form -->
              <div class="contact-form mt-30">
                <form id="contact-form" action="#">
                  <div class="row row-16">
                    <div class="col-md-4">
                      <input name="name" id="name" type="text" placeholder="Name*">
                    </div>
                    <div class="col-md-4">
                      <input name="mail" id="mail" type="email" placeholder="E-mail*">
                    </div>
                    <div class="col-md-4">
                      <input name="subject" id="subject" type="text" placeholder="Subject">
                    </div>
                    <div class="col-md-12">
                      <textarea name="comment" id="comment" placeholder="Message" rows="8"></textarea>
                    </div>
                  </div>

                  <input type="submit" class="btn btn-lg btn-color mt-20" value="Send" id="submit-message">
                  <div id="msg" class="message"></div>
                </form>
              </div>

            </div>
          </div> <!-- end row -->

        </div> <!-- end container -->
      </section> <!-- end content -->


      <!-- Instagram Feed -->
      <div class="instagram-feed text-center">
        <h3 class="heading uppercase">Instagram</h3>
        <h5 class="heading uppercase mb-30">follow @soho</h5>
        <ul id="instafeed-row"></ul>
      </div>


      <div class="widget-social">
        <div class="social-icons text-center">
          <a href="#">
            <i class="fa fa-instagram"></i>
            <span>instagram</span>
          </a>
          <a href="#">
            <i class="fa fa-facebook"></i>
            <span>facebook</span>
          </a>
          <a href="#">
            <i class="fa fa-twitter"></i>
            <span>twitter</span>
          </a>
          <a href="#">
            <i class="fa fa-pinterest-p"></i>
            <span>pinterest</span>
          </a>
          <a href="#">
            <i class="fa fa-rss"></i>
            <span>rss</span>
          </a>
        </div>
      </div>


      <!-- Footer Type-1 -->
      <footer class="footer footer-type-1 bg-dark">
        <div class="bottom-footer">
          <div class="container">
            <div class="row">

              <div class="col-sm-12 copyright text-center">
                <span>
                  Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
                </span>
              </div>

            </div>
          </div>
        </div>
      </footer> <!-- end footer -->


      <div id="back-to-top">
        <a href="#top"><i class="fa fa-angle-up"></i></a>
      </div>

    </div> <!-- end content wrapper -->
  </div> <!-- end main wrapper -->

  <!-- jQuery Scripts -->
  <script type="text/javascript" src="/templates/demojs/jquery.min.js"></script>
  <script type="text/javascript" src="/templates/demojs/bootstrap.min.js"></script>
  <script type="text/javascript" src="/templates/demojs/plugins.js"></script>
  <script type="text/javascript" src="/templates/demojs/scripts.js"></script>

  <!-- Instafeed -->
  <script type="text/javascript">
    $(window).load(function() {

      var InstafeedRow = new Instafeed({
          target: 'instafeed-row',
          get: 'user',
          userId: '3562688430',
          accessToken: '3562688430.ceddd6d.c54fa5142fa847f89827e5cf9b19d885',
          resolution: 'low_resolution',
          limit: '6',
          template: '<li class="instagram-item"><a target="_blank" href="{{link}}"><img class="instagram-img" alt="Instagram Image" src="{{image}}"></a></li>'
      });

      InstafeedRow.run();

    });
  </script>

    
</body>
</html>
